<include file="Public/header" title="{$store_config.store_title}" description="{$store_config.store_desc}"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/login.css" media="all">
<script type="text/javascript" src="__PUBLIC__/Home/js/login2015.js"></script>

<div class="container">
    <div id="logo"><a href="/" ><img src="/Public/Home/images/logo.png" alt="诚佰" style="width:170px;height:60x;"></a><b></b></div>
</div>

<div style="background-color: #00cfa5">
    <div class="container">
        <div class="login-wrap">
            <div class="w">
                <div class="login-form">
                    <div class="login-box">
                        <div class="mt">
                            <h1>诚佰会员</h1>
                            <div class="extra-r">
                                <div class="regist-link"><a href="{:U('Register/index')}" target="_blank"><b></b>立即注册</a></div>
                            </div>
                        </div>
                        <div class="msg-wrap">
                            <div class="msg-warn"><b></b><span style="float: left;position: absolute;top: 50%;left: 30px;display: block;margin-top: -8px;height: 17px;font-size: 12px;">公共场所不建议自动登录，以防账号丢失</span></div>
                        </div>
                        <div class="mc">
                            <div class="form">
                                <form id="formlogin" method="post" action"{:U('Login/loginHandle')}" onsubmit="return false;">
                                    <div class="item item-fore1">
                                        <label for="user_name" class="login-label name-label"></label>
                                        <input id="user_name" type="text" class="itxt" name="user_name" tabindex="1" autocomplete="off" placeholder="用户名">
                                        <span class="clear-btn"></span>
                                    </div>
                                    <div id="entry" class="item item-fore2">
                                        <label class="login-label pwd-label" for="password"></label>
                                        <input type="password" id="password" name="password" class="itxt itxt-error" tabindex="2" autocomplete="off" placeholder="密码">
                                        <span class="clear-btn"></span>
                                    </div>
                                    <div class="item item-fore3">
                                        <div class="safe">
                                            <span>
                                            <input id="chkRememberMe" name="chkRememberMe" type="checkbox" class="jdcheckbox" tabindex="3">
                                            <label for="chkRememberMe">自动登录</label>
                                            </span>
                                            <span class="forget-pw-safe">
                                            <a href="{:U('Login/forgetPassword')}" target="_blank">忘记密码?</a>
                                            </span>
                                        </div>
                                        
                                    </div>

                                    <div class="item item-fore5">
                                        <div class="login-btn">
                                            <input type="hidden" name="returnUrl" vaule="{:I('request.returnUrl')}">
                                            <a href="javascript:;" class="btn-img btn-entry" id="loginsubmit" tabindex="6">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="coagent">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-banner" style="background-color: #00cfa5">                      
                                
            </div>
        </div>
    </div>
</div>


<include file="Public/footer" />