<include file="Public/header" title="{$store_config.store_title}" description="{$store_config.store_desc}"/>

<div class="header wthrough" style="background: none;">
    <include file="Public/nav_header" />
</div>

<include file="Public/breadcrumb" />

<style type="text/css">
    .content{width:1200px; margin:5px auto;}
    .content .pro-info{width:100%; height:650px;padding:5px; margin:10px;}
    .content .pro-info .info-left{width:400px; height:650px; float:left;}
    .content .pro-info .info-left .left-top img{width:400px; height:500px;}
    .content .pro-info .info-left .left-bottom ul{width:400px; margin:0px; padding:0px; float:left;}
    .content .pro-info .info-left .left-bottom ul li{float:left; display:block;width:100px; height:150px; overflow:hidden;}
    .content .pro-info .info-left .left-bottom ul li img{width:100px; height:150px;}
    .content .pro-info .info-right{width:780px; height:650px; float:right; padding:10px;}
    .content .pro-info .info-right .pro-name{width:700px; float:left; margin:10px auto; overflow:hidden;}
    .content .pro-info .info-right .pro-name table{background-color:#FAFAFA; margin-left:-2px; margin-top:-2px;}
    .content .pro-info .info-right .pro-name tr{width:700px;height:30px;}
    .content .pro-info .info-right .pro-name td{height:30px; line-height:30px;}
    .content .pro-info .info-right .pro-name td.text{width:700px; text-align:center; font-size:18px; line-height:30px; background-color:#FFF;}
    .content .pro-info .info-right .pro-name td.text span{color:#F00; font-size:18px;}
    .content .pro-info .info-right .pro-name td.text1{width:120px; padding-left:20px;font-size:14px;}
    .content .pro-info .info-right .pro-name td.text2{width:580px; text-align:left; font-size:14px; color:#F00;}
    .content .pro-info .info-right .pro-name td.text3{font-size:14px;text-align:center; color:#888;}
    #myTab{width:760px; overflow:hidden; margin-top:20px;}
    #myTab li{list-style-type:none; line-height:50px;font-size:18px; border-bottom:#CCC 1px dashed; width:380px;}
    #myTab li a{color:#39F;}
    #myTab li a:hover{background:none;}
    #myTab .active{width:380px; float:left; text-align:center;}
    #myTab .active:visited{width:380px;}
    #myTab li {width:380px; float:left; text-align:center;}
    #myTab li a span{color:#F00; font-size:20px;}
    .tab-content{width:760px; height:150px; overflow:hidden;}
    #home p{font-size:14px; color:#333;}
    #home p span{font-size:18px;}
    #profile ul{width:100%;}
    #profile ul li{width:760px; line-height:20px; padding:0 5px;display:block;}
    .buy{width:760px; float:left;}
    .buy .input{width:760px; padding:5px 50px;float: left;}
    .buy .input span{display:block; float:left; width: 20px;float: left;margin-top: 5px;margin-left: 5px;}
    .buy .stock{ width:500px; text-align:left;float:left; margin-left:50px;}
    .buy .stock span{color:#F00; line-height:30px;}
    .buy-now{width:760px; float:left; text-align:center; margin:20px 10px;}
    .buy-now a{width:380px; float:left; font-size:20px; color:#F00; text-align:center;}
    .buy-now #shopcart{width:380px; float:left;}
    .recommend{width:1200px; margin:20px auto;}
    .recommend .tit{width:1200px; height:30px; line-height:30px;}
    .recommend .tit span{width:200px; text-align:center;display:block;font-size:18px;  float:left; margin:5px 15px;}
    .recommend .tit .xian{float:right; width:940px; height:1px; background-color:#666; margin-top:22px;}
    .recommend ul{width:1200px; overflow:hidden; margin:10px;}
    .recommend ul li{width:250px; margin-left:40px; float:left;}
    .recommend ul li .img{width:250px; height:300px;}
    .recommend ul li .t-text{width:250px; height:50px; overflow:hidden;}
    .recommend ul li .t-text span{float:left; display:block; width:250px; font-size:16px; line-height:20px; text-align:center;}
    .recommend ul li .t-text .price{color:#F00;}
    .details ul {width:1200px; margin:10px auto;}
    .details ul li{list-style-type:none; line-height:50px; text-align:center;font-size:18px; border-bottom:#CCC 1px dashed; width:200px;}
    .goods-tab-content{width:760px; overflow:hidden;}

</style>
<div class="content">
    <div class="pro-info">
        <div class="info-left">
            <div id="goods_carousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#goods_carousel" data-slide-to="0" class="active"> </li>
                    <foreach name="goods_gallery" item="gallery" key="k">
                        <li data-target="#goods_carousel" data-slide-to="{$k+1}"></li>
                    </foreach>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="__UPLOADS__/{$goods.goods_img}" alt="{$goods.goods_name}" />
                        <div class="carousel-caption">
                            {$goods.goods_name}
                        </div>
                    </div>
                    <foreach name="goods_gallery" item="gallery" key="k">
                        <div class="item">
                            <img src="__UPLOADS__/{$gallery.img_url}" alt="{$goods.goods_name}" />
                            <div class="carousel-caption">
                                {$goods.goods_name}
                            </div>
                        </div>
                    </foreach>
                    </if>
                </div>
            </div>
            <div class="gallery-jumb">
                <div class="item active">
                    <a href="#goods_carousel" data-slide-to="{$k}">
                        <img src="__UPLOADS__/{$goods.goods_thumb}" alt="{$goods.goods_name}" />
                    </a>
                </div>
                <foreach name="goods_gallery" item="gallery" key="k">
                    <div class="item">
                        <a href="#goods_carousel" data-slide-to="{$k+1}">
                            <img src="__UPLOADS__/{$gallery.thumb_url}" alt="{$goods.goods_name}" />
                        </a>
                    </div>
                </foreach>
            </div>
            <div class="pt10 pb20 clearfix">
                <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享到：</a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a></div>
                <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
            </div>
        </div>
        <div class="info-right">
            <div class="pro-name">
                <table width="704" border="0" frame="void">
                    <tr>
                        <td class="text" colspan="2"><span>产品名称：</span>{$goods.goods_name}</td>
                    </tr>
                    <tr>
                        <td class="text1">价格：</td>
                        <td class="text2">{$goods.market_price}</td>
                    </tr>
                    <tr>
                        <td class="text1">促销价：</td>
                        <td class="text2">{$goods.goods_price}</td>
                    </tr>
                    <tr>
                        <td class="text1">配送方式：</td>
                        <td class="text2">订购时联系客服确认</td>
                    </tr>
                    <tr>
                        <td class="text3" colspan="2">（上午11点之前下单当天发货，11点之后次日发货，周五11点之后下单统一在下周一发货）</td>
                    </tr>
                </table>

            </div>
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#tab-description" data-toggle="tab">兑换所需积分：<span>{$goods.integral}</span></a></li>
                <li class="static"><a href="#tab-comments" data-toggle="tab">评价：<span>{$comments.count}</span></a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab-description">
                    <!--description-->
                    <p>
                        <span>产品介绍：</span>{$goods.goods_brief}
                    </p>
                </div>
                <div class="tab-pane" id="tab-comments">
                    <!--comments-->
                    <if condition="$comments eq ''">
                        <p class="mb10 pt10">现在还没有评论.</p>
                        <else/>
                        <volist name="comments" id="comment">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle" src="__PUBLIC__/Home/images/avatar-40.png">
                                    <p class="pt5">{$comment.user_name}</p>
                                </a>
                                <div class="media-body">
                                    <p class="media-heading"></p>

                                    <div class="media grey">
                                        <p>{$comment.content}</p>
                                    </div>
                                </div>
                            </div>
                        </volist>
                    </if>
                </div>
            </div>

            <div class="buy">
                <form action="{:U('Cart/addToCart')}" method="post">
                <div class="input">
                    <p>
                    <span class="icon-minus cart-minus"></span>
                    <input type="text" name="quantity" value="1" onKeypress="return (/[\d.]/.test(String.fromCharCode(event.keyCode)))" class="cart-input" style=" width:26px; height:16px; border:1px solid #e7e3e2; text-align:center; color:#999; float:left;">
                    <span class="icon-plus cart-plus"></span>
                    </p>
                </div>
                <div class="stock">库存<span>{$goods.goods_number}</span>件</div>
                <div class="buy-now">
                    <input type="hidden" name="goods_id" value="{$goods.goods_id}" />
                    <button type="submit" id="shopcart" class="btn btn-danger">放入购物车</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="recommend">
        <div class="tit"><span>相关产品推荐</span><span class="xian">..</span></div>
        <ul>
            <volist name="related_goods_list" id="related_goods" offset="0" length='4'>
            <li>
                <div class="img"><img src="/Uploads/{$related_goods.goods_img}" style="width:250px;height:300px"></div>
                <div class="t-text"><span class="text">{$related_goods.goods_name}</span><span class="price">{$related_goods.goods_price}</span></div>
            </li>
            </volist>
        </ul>
    </div>
    <div class="details">
        <ul class="nav nav-tabs" id="goods_detail_tab">
            <li class="active"><a href="#tab-details" data-toggle="tab">商品详情</a></li>
            <li><a href="#tab-all-comments" data-toggle="tab">累计评价<span>{$comments.count}</span></a></li>
            <li><a href="#tab-deal" data-toggle="tab">月成交记录<span>{$order.count}</span>件</a></li>
        </ul>
        <div class="tab-content goods-tab-content">
            <div class="tab-pane active" id="tab-details">
                {$goods.goods_desc|html_entity_decode|htmlspecialchars_decode}
            </div>
            <div class="tab-pane" id="tab-all-comments">
                <!--comments-->
                <if condition="$comments eq ''">
                    <p class="mb10 pt10">现在还没有评论.</p>
                    <else/>
                    <foreach name="comments" item="comment">
                        <div class="media bbdashed">
                            <a class="pull-left" href="#">
                                <img class="media-object img-circle" src="__PUBLIC__/Home/images/avatar-40.png">
                                <p class="pt5">{$comment.user_name}</p>
                            </a>
                            <div class="media-body">
                                <p class="media-heading"></p>

                                <div class="media grey">
                                    <p>{$comment.content}</p>
                                </div>
                            </div>
                        </div>
                    </foreach>
                </if>
            </div>
            <div class="tab-pane" id="tab-deal">

            </div>
        </div>
    </div>
</div>

<include file="Public/footer" />