<include file="Public/header" title="巨搜商店" description="这是一个B2C,C2C的平台,在这里你不仅是买家,而且还是卖家,你可以经营属于自己的店铺." keywords="B2C,C2C,O2O,在线交易,线下交易"/>

<div class="header wthrough" style="background: none;">
<include file="Public/nav_header" />
</div>

<link rel="stylesheet" type="text/css" href="/Public/Home/css/goods_list.css">
<div class="listbox">
    <div class="pro-list">
        <div class="pro-title">
            <p class="order">查找到的商品</p>
        </div>
        <div class="pro-body">
            <ul>
                <foreach name="goods_list" item="goods" key="k">
                <li>
                    <div class="pro-img">
                        <a href="{:U('Goods/goodsDetail',array('goods_id'=>$goods['goods_id']))}"><img src="/Public/Home/images/grey.gif" data-original="/Uploads/{$goods.goods_img}" alt="{$goods.goods_name}" class="lazy" style="height:180px;width:180px;"></a>
                    </div>
                    <a href="{:U('Goods/goodsDetail',array('goods_id'=>$goods['goods_id']))}" class="font20">
                    <span class="exchange">消耗积分：:{$goods.integral}</span>
                    </a>
                    <p class="blacktext">
                    <a href="{:U('Goods/goodsDetail',array('goods_id'=>$goods['goods_id']))}" class="font20"></a>
                    <a href="{:U('Goods/goodsDetail',array('goods_id'=>$goods['goods_id']))}">{$goods.goods_name}</a>
                    </p>
                </li>
                </foreach>
            </ul>
        </div>
    </div>
    <div class="pro-list">
        <div class="pro-title">
            <p class="order">热卖商品</p>
        </div>
        <div class="pro-body">
            <ul>
                <!-- TODO: 热卖商品获取 -->
                <volist name="goods_list" id="goods" key="k" offset='0' length='5'>
                <li>
                    <div class="pro-img">
                        <a href="{:U('Goods/goodsDetail',array('goods_id'=>$goods['goods_id']))}"><img src="/Public/Home/images/grey.gif" data-original="/Uploads/{$goods.goods_img}"  alt="{$goods.goods_name}" class="lazy" style="height:180px;width:180px;"></a>
                    </div>
                    <a href="{:U('Goods/goodsDetail',array('goods_id'=>$goods['goods_id']))}" class="font20">
                    <span class="exchange">消耗积分：:{$goods.integral}</span>
                    </a>
                    <p class="blacktext">
                    <a href="{:U('Goods/goodsDetail',array('goods_id'=>$goods['goods_id']))}" class="font20"></a>
                    <a href="{:U('Goods/goodsDetail',array('goods_id'=>$goods['goods_id']))}">{$goods.goods_name}</a>
                    </p>
                </li>
                </volist>
            </ul>
        </div>
    </div>
</div>
   
<include file="Public/footer" />