<!DOCTYPE html>
<html>
<head>
    <title>巨搜商店</title>
    <!--文件引入顺序非常重要-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/common.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/holder/2.6.0/holder.min.js"></script>
    <include file="Public/commonjs"/>
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <!-- 手机显示导航 -->
                <a class="btn btn-navbar ml10" style="float:left;padding-left: 5px;" data-toggle="collapse" data-target=".navbar-collapse-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse-user">
                    <i class="icon-user icon-white"></i>
                </a>
            
                <div class="collapse nav-collapse navbar-collapse-nav">
                    <ul class="nav navbar-nav">
                        <!-- 导航信息-->
                        <foreach name="nav" item="item">
                            <php>if($item['children']):</php>
                            <li class="dropdown-menu">
                                <a href="{$item.url}" class="dropdown-toggle" data-toggle="dropdown">
                                    {$item.name} <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <foreach name="item.children" item="itemchild">
                                        <li><a href="{$itemchild.url}">{$itemchild.name}</a></li>
                                    </foreach>
                                </ul>
                            </li>
                            <php>else:</php>
                            <li>
                                <a href="{$item.url}">{$item.name}</a>
                            </li>
                            <php>endif;</php>
                        </foreach>
                    </ul>
                </div>
                <div class="collapse nav-collapse navbar-collapse-user">
                    <ul class="nav navbar-nav" style="float:right;">
                        <li>
                            <a href="{:U('User/Index')}">个人中心</a>
                        </li>
                            
                        <li>
                            <a href="{:U('Cart/Index')}">购物车</a>
                        </li>
                        <li>
                            <a href="{:U('User/Collect')}">收藏</a>
                        </li>
                        <li>
                            <a href="{:U('User/logout')}">登出</a>
                        </li>
                    </ul>
                </div>
                
                <form action="{:U('Search/searchGoods')}" class="navbar-form pull-right" method="post" role="search">
                    <input type="text" name="goods_name" class="span4" placeholder="搜索">
                    <button type="submit" class="btn btn-default"><span class="icon-search"></span></button>
                </form>
            </div>
        </div>
    </div>