<include file="Public/header" title="{$store_config.store_title}" description="{$store_config.store_desc}"/>
<div class="header wthrough" style="background: none;">
    <include file="Public/nav_header" />
    <include file="Public/index_scroll" />
</div>
<div class="body w1200 m0auto">
    <div class="span6 mt5">
        <img class="lazy height270" src="/Public/Home/images/grey.gif" data-original="/Public/Home/images/banner-design-onsale.jpg" width="100%" />
    </div>
    <div class="span6 mt5">
        <img class="lazy height270" src="/Public/Home/images/grey.gif" data-original="/Public/Home/images/banner-freeshipping.jpg" width="100%" />
    </div>
    <foreach name="goods_list" item="goods" key="k">
    <div class="span3 pt15">
        <div class="text-center" >
            <a href="{:U('Goods/goodsDetail',array('goods_id'=>$goods['goods_id']))}">
                <img class="index-img lazy" src="/Public/Home/images/grey.gif" data-original="/Uploads/{$goods.goods_img}"  alt="{$goods.goods_name}"/>
            </a>
            <div class="goods-footer">
                <p class="text-center">
                <a href="javascript:;" class="add_to_cart" data-goods-id="{$goods.goods_id}">
                <span class="icon-shopping-cart icon-white"></span>
                添加到购物车
                </a>
                <a href="javascript:;" class="add_to_favourite" data-goods-id="{$goods.goods_id}">
                <span class="icon-heart icon-white"></span>
                添加到收藏
                </a>
                </p>
                <p class="text-center"><a href="{:U('Goods/goodsDetail',array('goods_id'=>$goods['goods_id']))}">{$goods.goods_name}</a></p>
                <p class="text-center"><span class="product-price">{$goods.goods_price}</span></p>
            </div>
        </div>
    </div>
    </foreach>
</div>
<include file="Public/footer" />