<include file="Public/header" title="{$store_config.store_title}" description="{$store_config.store_desc}"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/regist.personal.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/passport.base.css">
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.min.js"></script>
<div class="w ld" id="toppanel">
    <div class="w" id="reg_logo">
        <div><a href="/"><img src="/Public/Home/images/logo.png" alt="诚佰商城" width="170" height="60"></a> <b></b>
        </div>
    </div>
    <div class="w" id="regist">
        <div class="mt">
            <ul class="tab">
                <li class="curr">个人用户</li>
            </ul>
            <div class="extra">
                <span class="text-right">我已经注册，现在就&nbsp;<a href="{:U('Login/index')}" class="flk13"
                style="color:#dd0000">登录</a></span>
            </div>
        </div>
        <div class="mc">
            <form id="personRegForm" method="POST" action="{:U('Register/registerHandle')}">
                <div class="item">
                    <label class="fl label" for="user_name"><b class="ftx04">*</b>用户名：</label>
                    <div class="fl item-ifo">
                        <input type="text" id="user_name" name="user_name" maxlength="20" class="text" value="">
                    </div>
                </div>
                <div class="item">
                    <label class="fl label"><b class="ftx04">*</b>邮箱：</label>
                    <div class="fl item-ifo">
                        <input type="text" id="email" name="email" maxlength="20" class="text" value="">
                    </div>
                </div>
                <div class="item">
                    <label class="fl label"><b class="ftx04">*</b>请设置密码：</label>
                    <div class="fl item-ifo">
                        <input type="password" id="password" name="password" maxlength="20" class="text"
                        style="ime-mode:disabled;" onpaste="return  false">
                    </div>
                </div>
                <div class="item">
                    <label class="fl label"><b class="ftx04">*</b>请确认密码：</label>
                    <div class="fl item-ifo">
                        <input type="password" id="rpassword" name="rpassword" maxlength="20" class="text"
                        onpaste="return  false">
                    </div>
                </div>
                <div class="item">
                    <label class="fl label"><b class="ftx04">*</b>验证手机：</label>
                    <div class="fl item-ifo">
                        <input type="text" id="telephone" name="telephone" maxlength="20" class="text"
                        onpaste="return  false">
                    </div>
                </div>
                <div class="item">
                    <label class="fl label"><b class="ftx04">*</b>短信验证码：</label>
                    <div class="fl item-ifo">
                        <input type="text" id="captcha" name="captcha" maxlength="20" class="text" style="width:100px"
                        onpaste="return  false">
                        <input type="button" class="btn" id="send_captcha" value="获取短信验证码" />
                    </div>
                </div>
                <div class="item">
                    <label class="fl label">&nbsp;</label>
                    <div class="fl item-ifo">
                        <input type="checkbox" class="fl checkbox" checked="checked" id="readme">
                        <label for="protocol" class="fl mt10">我已阅读并同意<a href="#" class="blue" id="protocol">《用户注册协议》</a></label>
                    </div>
                </div>
                <div class="item">
                    <label class="fl label">&nbsp;</label>
                    <input type="submit" class="fl btn-img btn-regist hover-btn" id="registsubmit" value="立即注册"
                    tabindex="8"/>
                </div>
            </div>
            <span class="clr"></span>
        </form>
    </div>
</div>
<script>
    var __SEND_CAPTCHA__ = "{:U('Register/send_captcha')}";
    var __CHECK_TELEPHONE__ = "{:U('Register/check_telephone')}";

    $(function () {
        $("#personRegForm").validate({
            rules: {
                user_name: {
                    required: true,
                    remote: {
                        type: "POST",
                        url: "{:U('Register/checkUserName')}",
                        data:{
                            user_name:function () {
                                return $("#user_name").val();
                            }
                        }
                    }
                },
                email:{
                    required:true,
                    email:true,
                    remote:{
                        type:"POST",
                        url:"{:U('Register/checkEmail')}",
                        data:{
                            user_name:function () {
                                return $("#user_name").val();
                            }
                        }
                    }
                },
                telephone:{
                    required:true,
                    number:true
                },
                password: {
                    required: true,
                    minlength:6
                },
                rpassword: {
                    required: true,
                    minlength:6,
                    equalTo:"#password"
                },
                captcha: {
                    required:true
                }
            },
            messages: {
                user_name: {
                    required:'用户名不能为空',
                    remote:'用户名已经存在'
                },
                email: {
                    required:'邮箱不能为空',
                    email:'不是正确的邮箱',
                    remote:'邮箱已经存在'
                },
                telephone:{
                    required:'电话号码不能为空',
                    number:'电话号码只能是数字'
                },
                password: {
                    required:'密码不能为空',
                    minlength:'长度不能小于6'
                },
                rpassword: {
                    required:'确认密码不能为空',
                    minlength:'长度不能小于6',
                    equalTo:'两次密码不相等'
                },
                captcha:{
                    required:'验证码不能为空'
                }
            }
        });

        $("#registsubmit").click(function () {
            if ($('#personRegForm').valid()) {
                return true;
            } else {
                return false;
            }
        });

        $("#send_captcha").click(function(){
            if(validate_telephone()){
                var telephone = $("#telephone").val();
                alert('验证码已经发送！');

                $(this).countdown({
                    time : 90
                });
              
                $.ajax({
                    url: __SEND_CAPTCHA__,
                    type: "POST",
                    data: {'telephone':telephone},
                    dataType: "html",
                    success: function(data){

                    }
                });
            }else{
                alert('不是正规手机号码！');
            }
        });
    });

    
    function validate_telephone(){
        var pattern = /^[1-9]\d{10}$/;
        var telephone = $("#telephone").val();
        if(!pattern.test(telephone)){
            return false;
        }else{
            return true;
        }
    }

    (function($){
        $.fn.countdown = function(options) {    
            var defaults = {
                time : 60,
                text : "秒后重新发送",
                stop : 0,
                old_val : this.val()
            }

            var options = $.extend({}, defaults, options);    
   
            this.each(function() {    
                $this = $(this);
                old_value = $this.val();
                $this.attr("disabled", true);
                
                interval = setInterval(function(){
                    if(options.time>0){
                        options.time--;
                        $this.val(options.time + options.text);  
                    }else{
                        clearInterval(interval);
                        $this.val(old_value);
                        $this.attr("disabled", false);
                    } 
                    
                },1000);
                
            });    
        }
    
    })(jQuery);
</script>
<include file="Public/footer"/>